 <li> 
    <%= complete_task.item.capitalize %> by <%= link_to complete_task.user.name.capitalize, user_path(complete_task.user) %> 
     <%= link_to "Edit my complete_task", edit_complete_task_path(id: complete_task.id, method: :get) %> 
    <% end %> 
    <%= link_to image_tag(complete_task.user.avatar(:medium)), user_path(complete_task.user) %> 
  </li>
