<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6" id="search">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <ul>                  
              <li>
                 <%= render @completed_tasks %>
              </li>   
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
